# we don't allow json files in the root except package.json
.history
.tmp
*.bak
node_modules/
/coverage/
/dist/
/env/
*.DS_Store
.vscode/values-schema.yaml
*.env
/.secrets
chart/adhar/values.schema.json
chart/adhar/README.md
workflow/
*.new
.envrc
otomi.cpuprofile
/platform/installer/**/*.tfstate
/platform/installer/**/*.tfstate.backup
/platform/installer/**/*.terraform.tfstate.lock.info