apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: headlamp-oidc
  namespace: adhar-system
  annotations:
    argocd.argoproj.io/sync-wave: "50"
spec:
  secretStoreRef:
    name: keycloak
    kind: ClusterSecretStore
  refreshInterval: "0"
  target:
    name: headlamp-oidc
    template:
      data:
        # Headlamp OIDC configuration - these env vars are used by Headlamp
        clientID: "headlamp"
        clientSecret: "{{ .HEADLAMP_CLIENT_SECRET }}"
        issuerURL: "https://adhar.localtest.me/keycloak/realms/adhar"
        scopes: "openid,profile,email,groups"
  data:
    - secretKey: HEADLAMP_CLIENT_SECRET
      remoteRef:
        key: keycloak-clients
        property: HEADLAMP_CLIENT_SECRET
