name: E2E

on:
  push:
    branches:
      - 'main'
    paths:
      - '**.go'
      - 'go.sum'
      - 'go.mod'
  repository_dispatch:
    types: [e2e-command]

jobs:
  e2e:
    runs-on: ubuntu-latest
    if: ${{ github.event.ref != '' }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24'
      - name: Run e2e tests
        run: |
          make e2e
  # invoked by slash command workflow
  e2e-slash-command:
    runs-on: ubuntu-latest
    if: ${{ github.event.action == 'e2e-command' }}
    steps:
      - uses: actions/checkout@v4
        with:
          repository: ${{ github.event.client_payload.pull_request.head.repo.full_name }}
          ref: ${{ github.event.client_payload.pull_request.head.ref }}
          fetch-depth: 0
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24'
      - name: Run e2e tests
        run: |
          make e2e

