name: PR

on:
  pull_request:
    types: [opened, ready_for_review, synchronize]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24'
      - name: Run build and tests
        run: |
          make build
          if [[ -n $(git status --porcelain) ]]; then
            echo "git is in dirty state";
            git status --porcelain=2 --branch
            exit 1
          fi
          make test
